.ff-complete-button {
  background-color: #bb05bb;
  color: white;
  font-weight: bold;
  font-family: monospace;
  padding: 3px;
}

.ff-complete-button:hover {
  cursor: pointer;
  background-color: #940494;
}

.ff-explanation {
  max-width: 30%;
  background-color: antiquewhite;
  color: rgb(22, 22, 22);
  font-family: monospace;
  font-size: small;
}