body {
    font-family: monospace;

    width: 16rem;
    height: 4rem;
}

.special-text {
  font-size: 16px;
}

#triggerButton {
  background-color: #bb05bb;
  color: white;
  font-weight: bold;
  font-family: monospace;
  padding: 3px;
  width: 100%;
}

#triggerButton:hover {
  cursor: pointer;
  background-color: #940494;
}

#emo-toggle {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
