body {
    background-color: #222;
    color: #eee;
    font-family: monospace;

    width: 16rem;
    height: 4rem;
}

.special-text {
    color: rgb(255, 255, 255);
}

#triggerButton {
  background-color: #bb05bb;
  color: white;
  font-weight: bold;
  font-family: monospace;
  padding: 3px;
}
